@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0b0b12] text-white;
}

/* star background */
.stars,
.stars::before,
.stars::after {
  
  content: "";
}

.stars {
  background: radial-gradient(1px 1px at 25% 30%, #fff, transparent);
  background-size: 200px 200px;
}

.stars::before {
  background:
    radial-gradient(2px 2px at 60% 80%, rgba(255,255,255,.8), transparent),
    radial-gradient(1.5px 1.5px at 90% 40%, rgba(255,255,255,.6), transparent);
  background-size: 300px 300px;
}

.stars::after {
  background:
    radial-gradient(3px 3px at 10% 70%, rgba(255,255,255,.9), transparent),
    radial-gradient(2px 2px at 40% 10%, rgba(255,255,255,.7), transparent);
  background-size: 400px 400px;
}


.skeleton{
  opacity: 0.7;
  animation: skeleton-loading 0.6s linear infinite alternate;
}

.skeleton-text{
  width: 100%;
  height: 0.6rem;
  border-radius: 0.125rem;
}
heading{
  height: 0.9rem;
}

@keyframes skeleton-loading{
  0%{
    background-color: hsl(200, 20%, 55%);
  }
  100%{
    background-color: hsl(200, 20%, 95%);
  }
}

.loader {
  width: 48px;
  height: 48px;
  background: #fff;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.2);
    border-radius: 10%;
  }
  50% {
    transform: rotate(180deg) scale(1.5);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg) scale(0.2);
    border-radius: 10%;
  }
}
  